{% extends 'Core/base.html' %} {% block content %}
<div class="w-full pt-2 pr-2 flex flex-row justify-end">
  <button class="bg-brand hover:bg-brand text-white font-bold py-2 px-8 rounded mt-2"><a href="{% url 'client-new' %}">NOVI KLIJENT</a></button>
</div>
  <div class="flex justify-center w-full pt-8">
  <div class="flex flex-col justify-center items-center w-80">

    <h2 style=" background-color:#e9a611;font-weight: bold; font-size:140%">KLIJENTI :</h2> </br>
    <div class="bg-white rounded-lg shadow w-full">
      <ul class="divide-y divide-gray-100">
        {% for client in page_obj %}
        <li class="p-3 hover:bg-brand hover:text-black text-center">
          <a href="{% url 'client-detail' client.pk %}"> {{ client.first_name}} {{client.last_name | default_if_none:""}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% include 'Core/pagination.html' %}

  </div>
</div>
{% endblock %}