{% extends 'Core/base.html' %} {% block content %}
<div class="w-full pt-2 pr-2 flex flex-row justify-end">
  <button class="bg-brand hover:bg-brand text-white font-bold py-2 px-8 rounded mt-2"><a href="{% url 'invoice-new' %}">NOVI RAČUN</a>
</button>
</div>
<div class="flex justify-center w-full pt-8">
  <div class="flex flex-col justify-center items-center w-64">
    <h2 style=" background-color:#e9a611;font-weight: bold; font-size:140%">RAČUNI :</h2> </br>
    <div class="bg-white rounded-lg shadow w-full">
     
    </div>
    {% include 'Core/pagination.html' %}
  </div>
</div>
{% endblock %}
