{% load static %}
{% load static tailwind_tags %}
<nav class="flex items-center justify-between flex-wrap flex-shrink basis-8 bg-brand px-6">
  <div class="mr-4 border-4 border-brand">
    <img class="object-contain" src="{% static 'img/Bakop_logo_142x80.png' %} " alt="Iskopi Bakop Pula Istra">
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-black border-brand hover:text-white hover:border-white">
   
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-lg lg:flex-grow">
      <a href="{% url 'client-list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-black font-bold  hover:text-white mr-4">KLIJENTI</a>
      <a href="" class="block mt-4 lg:inline-block lg:mt-0 text-black font-bold hover:text-white mr-4">USLUGE</a>
      <a href="" class="block mt-4 lg:inline-block lg:mt-0 text-black font-bold hover:text-white">RAČUNI</a>
    </div>
</nav>
